// nextflow.config - Multi-platform configuration


// Default process resources (apply to all profiles unless overridden)

process {

    cpus = 8
    memory = '12 GB'
    time = '8h'
}


// Profiles for different platforms


profiles {
    
    // For Mac ARM64 (Silicon) - use Conda for native performance

    mac {
        conda.enabled = true
        conda.cacheDir = "$HOME/.nextflow/conda"
        docker.enabled = true
        
        process {
            withName: DOWNLOAD_READS {
                conda = 'bioconda::sra-tools=3.2.1'
            }

            withName: SUBSAMPLE_READS {
                conda = 'bioconda::seqtk=1.5'
            }
            
            withName: QC_NANOPLOT {
                conda = 'bioconda::nanoplot=1.46.1'
            }
            
            withName: FLYE_ASSEMBLY {
                conda = 'bioconda::flye=2.9.6'
            }

            withName: QC_QUAST {
                // Using Quast via emulation as there is no quast build for ARM64
                container = 'quay.io/biocontainers/quast:5.3.0--py313pl5321h5ca1c30_2'
            }

            withName: QC_BANDAGE {
                conda = 'bioconda::bandage_ng=2025.6.1'
            }

            withName: ANNOTATE_AUGUSTUS {
                conda = 'bioconda::augustus=3.5.0'
            }

            withName: QC_BUSCO {
                // Using BUSCO as via docker as BUSCO has dependencies that are supported on ARM64
                container = 'quay.io/biocontainers/busco:6.0.0--pyhdfd78af_1'   
            }

            withName: DOWNLOAD_S288C_CDNA {
                conda = 'conda-forge::wget=1.21.4'
            }

            withName: DOWNLOAD_S288C_PROTEINS {
                conda = 'conda-forge::wget=1.21.4'
            }

            withName: CREATE_DIAMOND_DB {
                conda = 'bioconda::diamond=2.1.15 conda-forge::wget=1.21.4'
            }

            withName: ANNOTATE_DIAMOND {
                conda = 'bioconda::diamond=2.1.15'
            }

            withName: ANNOTATE_MAKER {
                // Using MAKER via docker as MAKER has dependencies that are not yet supported on ARM64
                container = 'quay.io/biocontainers/maker:3.01.03--pl5321h9ce0226_4'
            }

            withName: MERGE_MAKER_OUTPUT {
                // Using MAKER via docker as MAKER has dependencies that are not yet supported on ARM64
                container = 'quay.io/biocontainers/maker:3.01.03--pl5321h9ce0226_4'
            }

            withName: SEQUENCE_ANNOTATION_PYTHON {
                conda = 'conda-forge::python=3.8.5' 
            }

            withName: POLISH_RACON {
                conda = 'bioconda::racon=1.5.0 bioconda::minimap2=2.30'
            }

            withName: QC_COVERAGE {
                conda = 'bioconda::minimap2=2.30 bioconda::samtools=1.22.1'
            }

            withName: COLLECT_FINAL_RESULTS {
                conda = 'bioconda::samtools=1.22.1'
            }

        }
    }



    // For Linux AMD64 - uses Docker (your original setup)
    
    linux {
        docker.enabled = true
        conda.enabled = false
        
        process {
            withName: DOWNLOAD_READS {
                container = 'quay.io/biocontainers/sra-tools:3.2.1--h4304569_1'
            }
            
            withName: SUBSAMPLE_READS {
                container = 'quay.io/biocontainers/seqtk:1.5--h577a1d6_1'
            }

            withName: QC_NANOPLOT {
                container = 'quay.io/biocontainers/nanoplot:1.46.1--pyhdfd78af_0'
            }
            
            withName: FLYE_ASSEMBLY {
                container = 'quay.io/biocontainers/flye:2.9.5--py311h2de2dd3_1'
            }

            withName: QC_QUAST {
                container = 'quay.io/biocontainers/quast:5.3.0--py313pl5321h5ca1c30_2'
            }

            withName: QC_BANDAGE {
                container = 'quay.io/biocontainers/bandage_ng:2025.6.1--h3751afb_0'
            }

            withName: ANNOTATE_AUGUSTUS {
                container = 'quay.io/biocontainers/augustus:3.5.0--pl5321h9716f88_9'}

            withName: QC_BUSCO {
                container = 'quay.io/biocontainers/busco:6.0.0--pyhdfd78af_1'
            }

            withName: DOWNLOAD_S288C_CDNA {
                container = 'quay.io/biocontainers/wget:1.21.4'
            }

            withName: DOWNLOAD_S288C_PROTEINS {
                conda = 'quay.io/biocontainers/wget:1.21.4'
            }

            withName: CREATE_DIAMOND_DB {
                // Note that this container includes wget
                container = 'quay.io/biocontainers/diamond:2.1.15--h13889ed_0'
            }
            
            withName: ANNOTATE_DIAMOND {
                container = 'quay.io/biocontainers/diamond:2.1.15--h13889ed_0'
            }

            withName: ANNOTATE_MAKER {
                container = 'quay.io/biocontainers/maker:3.01.03--pl5321h9ce0226_4'
            }    

            withName: MERGE_MAKER_OUTPUT {
                // Using MAKER via docker as MAKER has dependencies that are not yet supported on ARM64
                container = 'quay.io/biocontainers/maker:3.01.03--pl5321h9ce0226_4'
            }

            withName: SEQUENCE_ANNOTATION_PYTHON {
                container = 'quay.io/biocontainers/python:3.8.0--2'
            }

            withName: POLISH_RACON {
                container = 'jroop707/racon-minimap2:v1.5.0-v2.30'
                containerOptions = '--platform linux/amd64'
            }   

            withName: QC_COVERAGE {
                container = 'quay.io/biocontainers/minimap2:2.30--h577a1d6_0' // this needs to have samtools also!! 
            }

            withName: COLLECT_FINAL_RESULTS {
                container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'
            }
        }
    }   


}
